/* styles.module.css */

.backgroundImageContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 640px) {
  .backgroundImageContainer {
    background-image: url("../assets//Default_WhatsApp_background.jpeg");
  }
}
